
// variables 
$main-color: #404258;
$second-color: #474E68;
$third-color: #50577A;
$fourth-color: #6B728E;
$text-color: #eef2ff;
$hover-color:#0099FF;
//===========================

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $main-color;
}
/*============ scrollbars ====================*/
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: $third-color;
  border-radius: 100vw;
  margin-block:0.1em;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
  border: 0.12em solid $fourth-color;
  border-radius: 100vw;
  &:hover {
    background: $hover-color;
  }
}
/*============ Navbar search form  ====================*/
.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}
.navbar-search {
  background-color: #2a2b39;
  Button {
    background-color: $second-color;
    color: white;
    border-color: $fourth-color;
    &:hover {
      background-color: $main-color;
      color: rgb(0, 153, 255);
      border-color: rgb(0, 153, 255);
    }
  }
  .me-2:focus {
    width: 20em;
  }
  .logo {
    font-size: 2.5em;
    color: $fourth-color;
  }
}
/*============ Navbar links ====================*/
.nav-links {
  display: flex;
  justify-content: center;
  background-color: $second-color;
  color: $text-color;
  box-shadow: -1px 3px 9px 1px rgba(56, 58, 66, 0.75);
  -webkit-box-shadow: -1px 3px 9px 1px rgba(56, 58, 66, 0.75);
  -moz-box-shadow: -1px 3px 9px 1px rgba(56, 58, 66, 0.75);

   a {
    background-color: $second-color;
    color: $text-color;
    text-decoration: none;
    margin: 1rem;
    &:hover {
      color: $hover-color;
      font-weight: bold;
    }
  }
}
/*============ horizental-scroll container  ====================*/
.horizental-scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-top: solid $fourth-color 0.12em;
  box-shadow: -1px 3px 9px 1px rgba(56, 58, 66, 0.75);
  -webkit-box-shadow: -1px 3px 9px 1px rgba(56, 58, 66, 0.75);
  -moz-box-shadow: -1px 3px 9px 1px rgba(56, 58, 66, 0.75);
}
/*============ MovieBox & card  ====================*/
.MovieBox {
  background: $second-color;
  padding: 1.5rem 1.5rem 1.5rem 0rem;
  border-bottom: solid 0.10rem $fourth-color;
  border-top: solid 0.1rem $fourth-color;
  .card {
    background-color: $main-color;
    overflow: hidden;
    margin-left: 1.6em;
    &:hover {
      border-color: $hover-color;
    }
    img {
      border-radius: 1%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.overlay-content {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: $hover-color;
  display: flex;
  justify-content: start;
  align-items: center;
  white-space:normal;
  position: absolute;
  z-index: 1;
  transition: 0.6s;
  top: 0%;
  left: 100%;
  opacity: 0.9;

}
.card:hover .overlay-content {
  /* left: 0; */
  transform: translateX(-100%);
}
/*============ Home ====================*/
.home-title {
  width: 170px;
  height: 50px;
  background-color: $second-color;
  margin: 10px;
  padding: -15px;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $main-color;
    border: 0.12em solid $fourth-color;
    border-radius: 1em;
  }
  a {
    text-decoration: none;
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $hover-color;
    }
  }
}

ul {
  list-style-type: none;
}

/*============ footer ====================*/
.footer {
  background-color: #2a2b39;
  padding: 3rem 8rem 3rem 8rem;
  border-top: solid 0.15em $second-color;
}
.social-bar {
  height:2.5rem;
  width: 60%;
  background-color: #2a2b39;
  transform: translateY(1.2rem);
  border-radius: 5rem;
  border: solid 0.1rem $second-color;
}
.social-icons  {
  ul {display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-0.3rem);  
  margin: 0;
  padding: 0;}
   a {
    font-size: 1.5rem;
    color: $fourth-color;
    padding: 1rem;
    
  }
}
.list-menu {
  color: $fourth-color;
  a {
    color: $fourth-color;
    text-decoration: none;
    &:hover {
      color: $fourth-color;
      text-decoration: none;
      font-weight: bold;
      color:$hover-color;
    }
  }
}
.list-contact {
  color: $fourth-color;
}
.newsletter {
  color: $fourth-color;
  Button {
    color: white;
    background-color: $main-color;
    border-color: $fourth-color;
    &:hover {
      color: #2a2b39;
      background-color: $third-color;
      border-color: $fourth-color;
    }
  }
}

/*============ background of all pages ====================*/
.bg-Pages {
  background-color: var(--second-color);
}

/*============ contact pages ====================*/
.contact-page {
  background-color: $second-color;
  color: $text-color;
  width: 70%;
  height: 80vh;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 4em;
  border-radius: 1em;
 Button {
    background-color: #2a2b39;
    border-color: $fourth-color;
    justify-content: center;
  }
  h4 {
    border-color: $fourth-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*============ watching pages ====================*/
.watching-Page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.infocard p {
  color: $text-color;
 span {
    color: #2a2b39;
    font-weight:bold;
  }
}
.list-group-item {
  background-color: $second-color;
}
.icons-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-size: 1.3em;
  word-spacing: 1em;
}






















